/* xxxx */

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins');

/* ===== Global =====*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.active {
    color: cyan;
    text-decoration: underline;
    font-weight: bold;
}


/* Navbar */

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0 30px;
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url('./gambar/progate4.png');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-content {
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}

.header-content h2 {
    font-size: 4vmin;
}

.line {
    width: 150px;
    height: 4px;
    background: cyan;
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1 {
    font-size: 7vmin;
    margin-top: 20px;
    margin-bottom: 30px;
}

.ctn {
    padding: 8px 15px;
    background: cyan;
    border-radius: 30px;
    color: whitesmoke;
}

.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    cursor: pointer;
    display: none;
}

/* Mobile Device */
@media only screen and (max-width:850px) {
    .menu-btn {
        display: block;
    }

    .navbar {
        padding: 0;
    }
    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: #484872;
        margin-top: -900px;
        transition: all 0.5s ease;
    }

    .mobile-menu {
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }
    .nav-links li {
        margin: 30px auto;
    }
}

/* Daftar Kelompok */
.container{
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.wrapper-img{
  box-shadow: 0 5px 15px rgb(101, 101, 105) ;
  width: 300px;
  height: 450px;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 4vmin;
  color: #49497e;
}
.title h1 {
  text-align: center;
  font-size: 4vmin;
  color: #49497e;
  animation-name: flash;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-iteration-count: infinite
}

@keyframes flash {
  0%   {background-color: white;}
  25%  {background-color: #3498db;}
  50%  {background-color: #2980b9;}
  100% {background-color: white;}
}

.title1{
  font-size: 12px;  
  padding: 20px;
}
h4 {
  font-size: 14px;
  color: #565661;
  text-align: center;
}
.gambar{
  width: 100%;
  height:50%;
  align-items: center;
}
/* a */
.content-col {
  width: 50%;
}
.image-col {
    width: 50%;
}

.tours .image-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.image-gallery img {
    max-width: 300px;
    margin: 10px;
    width: 200px;
    height: 200px;
}
.content-col h1{
    font-size: 7vmin;
    color: #484872;
}
.content-col .line {
    margin-left: -1px;
}
.content-col p {
    padding: 0;
    margin: 30px auto;
}

/* b */
.explore {
	width: 100%;
	height: 60%;
	/* background-image: url(./img/key.jpg); */
  background-color: azure;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
}
.explore-content {
	width: 100%;
	padding: 50px;
	/* color: whitesmoke; */
  color: #222222;
	display: flex;
	text-align: center;
	flex-direction: column;
}
.explore-content h1 {
	font-size: 7vsin;
	margin: 50px;
}
.explore-content .line {
	margin-bottom: 50px;
}
.explore-content p {
	color: #222222;
}
.explore-content .ctn{
	margin-top: 40px;
}
/* d */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
  }
  footer{
    width: 100%;
   
    bottom: 0;
    left: 0;
    background: rgb(61, 86, 87);
  }
  footer .content{
    max-width: 1350px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  footer .content p,a{
    color: #fff;
  }
  footer .content .box{
    width: 33%;
    transition: all 0.4s ease;
  }
  footer .content .topic{
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 16px;
  
  }
  footer .content p{
    text-align: justify;
  }
  footer .content .lower .topic{
    margin: 24px 0 5px 0;
  }
  footer .content .lower i{
    padding-right: 16px;
  }
  footer .content .middle{
    padding-left: 80px;
    color:azure;
    line-height: 32px;
  }
  
   
  footer .content .media-icons a{
    font-size: 16px;
    height: 45px;
    width: 45px;
    display: inline-block;
    text-align: center;
    line-height: 43px;
    border-radius: 5px;
    border: 2px solid #222222;
    margin: 30px 5px 0 0;
    transition: all 0.3s ease;
  }
  .content .media-icons a:hover{
    border-color: #eb2f06;
  }
  footer .bottom{
    width: 100%;
    text-align: center;
    color: #d9d9d9;
    padding: 0 40px 5px 0;
  }
  footer .bottom a{
    color: #eb2f06;
  }
  footer a{
    transition: all 0.3s ease;
  }
  footer a:hover{
    color: #eb2f06;
  }
  
  footer img{
      width: 350px;
      height:50px;
  }
  @media (max-width:1100px) {
    footer .content .middle{
      padding-left: 50px;
    }
    .container{
      flex-direction: column;
      display: flex;
    }
    .content-col {
      width: 100%;
    }
  }
  @media (max-width:950px){
    footer .content .box{
      width: 50%;
    }
    .content .right{
      margin-top: 40px;
    }
    .container{
      flex-direction: column;
      display: flex;
    }
    .content-col {
      width: 100%;
    }
  }
  @media (max-width:560px){
    footer{
      position: relative;
    }
    footer .content .box{
      width: 100%;
      margin-top: 30px;
    }
    footer .content .middle{
      padding-left: 0;
    }
    .container{
      flex-direction: column;
      display: flex;
    }
    .content-col {
      width: 100%;
    }
  }
